@font-face {
    font-family: "garamond";
    src: url(./EBGaramond-VariableFont_wght.ttf);
}

@font-face {
    font-family: "Kolo LP";
    src: url(./Kolo\ LP\ Regular.otf);
}

@font-face {
    font-family: "Brandon-Grotesque-Font-Italic";
    src: url(./brandon-grotesque-thin-italic.otf);
}

@font-face {
    font-family: "brandon-grotesque-bold-italic";
    src: url(./brandon-grotesque-bold-italic.otf);
}

@font-face {
    font-family: "brandon-grotesque-medium-italic";
    src: url(./brandon-grotesque-medium-italic.otf);
}

svg {
    display: hidden;
    position: fixed;
}

:root {
    --bg-color-primary: #1e231e;
    --bg-color-secondary: #536153;
    --bg-color-card: #fdf3d8;
    --link-color: #602f6a;
}

.dvd-logo {
  display: none;
  position: fixed;
  width: 15%;
  height: 15%;
}

.active.dvd-logo {
  display: block;
  z-index: 1;
}

.dvd-container.darken {
  background-color: #1e231e;
}

body {
  margin: 0;
  width: 100%;
}

main {
  margin: 0 auto;
  text-align: center;
  display: flex;
  height: 100vh;
  width: 100vw;
  background-image: url("./bg.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  filter: none;
}

main.darken {
  filter: brightness(10%);
}

html {
  height: 100%;
  background-color: var(--bg-color-primary);
}

#title {
    font-size: x-large;
    display: flex;
    flex-flow: column;
    justify-content: center;
    border: 2px solid var(--bg-color-secondary);
}

#title > h1 {
    margin: 0;
}

/* change porportions */

.title-container {
    box-sizing: border-box;
    background-color: var(--bg-color-card);
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-shadow: 0 0 1px #fff inset;
    height: 340px;
    width: 340px;
    padding: 2px;
    display: grid;
    margin: auto;
}

h1 {
  align-self: center;
  font-family: "Kolo LP";
}

section {
  font-family: garamond;
}

.primary {
  height: 40vh;
  width: 100%;
}

.card {
  background-color: var(--bg-color-card);
}

.card.card-section {
  min-height: 20vh;
  border: solid var(--bg-color-secondary) 8px;
}

.card a {
  color: var(--link-color);
}

/* 
    Color theming
    Pine 4 Dot Zollie (Palette Scout)
    It is possibly....
    color: #40604e
*/

/* 
main {
    /* maybe? */
    /* background-color: #40604e;
    background-color: #455c4f;
} */